@use 'styles/colors.scss' as colors;

.outer {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2%;
}

.carousel {
  display: flex;
  justify-content: center;
  max-width: 100%;
  column-gap: 5%;
}

.carousel > article {
  flex-shrink: 1;
}

.lr-arrow-container {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.lr-arrow-container > * {
  cursor: pointer;
  color: colors.$red1;
}

.lr-arrow {
  border: none;
  background: none;
}

.disabled {
  color: grey;
  cursor: no-drop;
}
