@use 'styles/colors.scss' as colors;

.lawyer-info {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  align-items: center;
  gap: 1em;
}

.lawyer-info:hover {
  transform: scale(1.02);
  transition: ease-in 30ms;
}

.lawyer-info p {
  margin: 0;
}

.photo-container {
  // TODO
  // display: grid;
  // place-items: center center;
  // width: fit-content;
  // min-height: fit-content;
  background-color: colors.$red1;
}

.photo {
  object-fit: contain;
  max-width: 100%; // TODO
  max-height: 330px;
}

.member-details {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  align-items: center;
}

.member-details-row-1 {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
