@use 'styles/colors.scss' as colors;

.lawyer-info {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  align-items: center;
  gap: 1em;
}

.lawyer-info:hover {
  transform: scale(1.02);
  transition: ease-in 30ms;
}

.lawyer-info p {
  margin: 0;
}

.photo {
  // https://www.w3schools.com/howto/howto_css_image_responsive.asp
  object-fit: contain;
  width: 100%;
  height: auto;
  max-height: 330px;
  // border-bottom: 1px solid colors.$red1;
}

.member-details {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  align-items: center;
}

.member-details-row-1 {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
