@use 'styles/breakpoints.scss' as breakPts;
@use 'styles/Home.module.scss' as homeStyles;

$breakpointTablet: breakPts.$breakpointTablet;
$breakpointNarrowDesktop: 1350px;

.header {
  @include homeStyles.container-padding;
  width: 100%;
  position: sticky;
  top: 0;
  background: white;
  padding-top: 2rem;
  padding-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.header-main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;

  @media (min-width: $breakpointTablet) {
    align-items: stretch;
  }

  .header-top {
    display: none;

    @media (min-width: $breakpointTablet) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .header-top-address {
      display: none;
      flex-direction: column;
      align-items: flex-end;

      @media (min-width: $breakpointNarrowDesktop) {
        display: flex;
      }
    }
  }

  .header-bottom {
    display: flex;
    align-items: center;
    gap: 0.7em;
    padding-top: 0.5em;

    .header-bottom-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.7em;
      @media (min-width: $breakpointTablet) {
        gap: 1.7em;
      }
    }
  }

  .header-nav {
    // TODO: font-size media query
    position: fixed;
    gap: 0.5em;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    background: white;
    width: 100%;
    @include homeStyles.container-padding;

    @media (min-width: $breakpointTablet) {
      position: static;
      display: flex;
      flex-direction: row;
      visibility: visible;
      height: auto;
      padding: 0;
    }

    @media (min-width: $breakpointNarrowDesktop) {
      overflow-x: auto;
    }
  }

  .header-nav-closed {
    visibility: hidden;

    @media (min-width: $breakpointTablet) {
      visibility: visible;
    }
  }

  .submenu-holding-li {
    margin: 0;
    padding: 0;
  }

  .submenu-holding-li:hover > .submenu {
    @media (min-width: $breakpointTablet) {
      display: block;
    }
  }

  .submenu-sub-list-closed {
    display: none;
  }
}

.submenu {
  background: white;
  padding-left: 2rem;
  z-index: 2;
  margin: 0;

  @media (min-width: $breakpointTablet) {
    position: absolute;
    overflow-y: auto;
    background: white;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 1px 1px;
    font-size: 0.5em;
    text-transform: none;
    display: none;
  }
}

.submenu-toggle {
  color: black;
  margin-left: 7px;
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 2px;
  width: 3rem;
  justify-content: center;
}

.hide-narrow-desktop {
  display: none;
  @media (min-width: $breakpointNarrowDesktop) {
    display: block;
  }
}

.hide-mobile {
  display: none;
  @media (min-width: $breakpointTablet) {
    display: block;
  }
}

.hide-desktop {
  @media (min-width: $breakpointTablet) {
    display: none;
  }
}
