@use 'styles/colors.scss' as colors;

.work-area-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  height: 100%;
}

.work-area-card > h3,
.work-area-card > p {
  text-align: center;
}

// TODO
// .work-area-card > p {
//   display: none;
//   @media (min-width: $breakpoint-tablet) {
//     display: initial;
//   }
// }

.work-area-card > svg {
  color: colors.$red1;
  flex-shrink: 0;
  flex-grow: 0;
  // flex: 0;
}

.work-area-right-arrow {
  color: colors.$red1;
  float: right;
}

.work-area-right-arrow:hover {
  opacity: 0.9;
}

.work-area-bottom {
  width: 80%;
  margin-top: auto;
}
