@use 'styles/breakpoints.scss' as breakpoints;

.address-and-kontakt {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 1rem;
  @media (min-width: breakpoints.$breakpointTablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}
