@use 'styles/breakpoints.scss' as breakPts;
@use 'styles/colors.scss' as colors;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

body.mobile-nav-open {
  overflow: hidden;
  @media (min-width: breakPts.$breakpointTablet) {
    overflow: auto;
  }
}

p,
li,
td {
  text-align: justify;
  /* letter-spacing: 1px; */
  box-sizing: border-box;
  line-height: 26.4px;
  color: rgb(50, 50, 50);
  margin: 0 0 1rem 0;
}

a {
  // color: inherit;
  color: colors.$red1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

li {
  text-decoration: none;
}

nav {
  list-style-type: none;
}

.red-horizontal-ruler {
  border-top: 1px solid colors.$red1;
  border-bottom: 0;
  width: 100%;
}

.heading-underlined {
  border-bottom: 1px solid colors.$red1;
  padding-bottom: 0.5em;
  width: 20rem;
  margin-bottom: 3rem;

  font-size: 2rem;
  font-weight: 300;
}

.pre-wrap {
  white-space: pre-wrap;
}
