$breakpointTablet: 768px;
$red1: #a12027;

html,
body {
  padding: 0;
  margin: 0;
  font-family: avenir -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

body.mobile-nav-open {
  overflow: hidden;
  @media (min-width: $breakpointTablet) {
    overflow: auto;
  }
}

p {
  font-family: avenir;
  text-align: justify;
  /* letter-spacing: 1px; */
  box-sizing: border-box;
  line-height: 26.4px;
  color: rgb(50, 50, 50);
  margin: 0 0 1rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.work-area-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 80%;
  height: 100%;
}

.work-area-card > h3,
.work-area-card > p {
  text-align: center;
}

// TODO
// .work-area-card > p {
//   display: none;
//   @media (min-width: $breakpoint-tablet) {
//     display: initial;
//   }
// }

.work-area-card > svg {
  color: $red1;
  flex-shrink: 0;
  flex-grow: 0;
  // flex: 0;
}

.work-area-right-arrow {
  color: $red1;
}

.work-area-bottom {
  width: 80%;
  margin-top: auto;
}

li {
  text-decoration: none;
}

nav {
  list-style-type: none;
}

.red-horizontal-ruler {
  border-top: 1px solid $red1;
  border-bottom: 0;
  width: 100%;
}

.heading-underlined {
  border-bottom: 1px solid $red1;
  padding-bottom: 0.5em;
  width: 20rem;
  margin-bottom: 3rem;

  font-size: 2rem;
  font-weight: 300;
}

.work-areas-grid {
  row-gap: 40px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(1, 1fr);
  // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  @media (min-width: $breakpointTablet) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.pre-wrap {
  white-space: pre-wrap;
}
