$breakpoint-tablet: 768px;

.container {
  padding: 0 4rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-tablet) {
    padding: 0 7rem;
  }
}

.main {
  padding: 2rem 0 4rem;
  flex-grow: 1;

  @media (min-width: $breakpoint-tablet) {
    padding: 4rem 0 4rem;
  }
}
