@use 'styles/breakpoints.scss' as breakPts;

$maxWidth: 1440px;

.root-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@mixin container-padding {
  // TODO: max-width & margin: auto?
  max-width: $maxWidth;
  margin: 0 auto;

  padding-left: 2rem;
  padding-right: 2rem;
  @media (min-width: breakPts.$breakpointTablet) {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.main {
  @include container-padding;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 4rem;
  flex-grow: 1;

  @media (min-width: breakPts.$breakpointTablet) {
    padding-top: 4rem;
  }
}

.main > section {
  margin-bottom: 1rem;
  @media (min-width: breakPts.$breakpointTablet) {
    margin-bottom: 2rem;
  }
}

.italic {
  font-style: italic;
}
